---
title: Boomi Data Services for VMware Tanzu
owner: Partners
---

Boomi Data Services for VMware Tanzu provides on-premise installation of Atom(s) and Molecule(s) for orchestration via
the Dell Boomi Integration Platform as a Service (iPaaS).  It also provides a service broker for deploying Integration
Packs to sub-accounts, via Atom Clouds.  These service offerings are discoverable via the VMware Tanzu
Marketplace, allowing VMware Tanzu application developers to directly deploy and use Boomi Integration Packs.

## <a id='features'></a>Key Features

Boomi Data Services includes the following key features:

* Use any existing API-centric Dell Boomi Integration Pack in cloud-native applications
* Access to the integration features and connectors of the Dell Boomi iPaaS

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Boomi Data Services for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.11.9</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 27, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Boomi Data Services Service Broker v0.9.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.4.x, v2.5.x, v2.6.x, and v2.7.x</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu Application Service for VMs (formerly known as Elastic Runtime) version(s)</td>
        <td>v2.4.x, v2.5.x, v2.6.x, and v2.7.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

None curently identified.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please visit
[Dell Boomi Support](https://boomi.com/services/support/).
