---
title: Installing and Configuring Boomi Data Services for VMware Tanzu
owner: Partners
---

This topic describes how to install and configure Boomi Data Services for VMware
Tanzu Application Service (TAS). All of the following described configuration
fields are <b>required</b> For advanced (non-required) configuration options see
the Configuration page.

##<a id="reqs-account"></a> Requirements: A Boomi AtomSphere Integration Platform Account

You need a Boomi AtomSphere Platform account with the following:

+ At least one sub-account
+ Appropriate Boomi licenses (contact Boomi Representitive)
+ The ability to publish Integration Packs from the main account to these sub-accounts

##<a id="reqs-cloud"></a> Requirements: An Atom Cloud

Before you can configure Boomi Data Services for VMware Tanzu, you need to create a
Cloud using the Boomi AtomSphere web interface.  To do so:

1. Navigate to the **Manage** &raquo;
**Cloud Management** interface:

    <img src="img/boomi-cloud-management.png">

2. Click the **+** icon in the left-hand sidebar to display a form for creating your
new AtomSphere Cloud:

    <img src="img/boomi-create-atom-cloud.png">

3. Ensure that:
    - **Allow Deployments** checkbox is checked.
    - **Max. Atom Attachments per Account** is set to **-1**.
    - **Classification** matches your licensing type (PROD vs DEV).

4. Open the account setup page

    <img src="img/account-setup.png">

5. Navigate to the **Account Groups** section

    <img src="img/account-groups-button.png">

6. Switch to the **Resources** pane

    <img src="img/resources-button.png">

7. Click the **+** icon to share the desired atom cloud(s)

    <img src="img/add-resource.png">

8. Repeat this process for every additional (auxiliary) Atom Cloud
that you want to configure and deploy.


##<a id="install"></a> Download and Install Boomi Data Services for VMware Tanzu

To install the Boomi Data Services for VMware Tanzu tile on the Ops Manager
Installation Dashboard, do the following:

1. Download the product file from the VMware Tanzu Network.

1. Click **Import a Product** to import the tile into Ops Manager.

1. Click the + symbol next to the uploaded product description.

1. Click on the Boomi Data Services for VMware Tanzu tile.

1. Complete all the configuration steps in the <a href="#configure">Configure Tile Properties</a> section below.

1. Return to the Ops Manager installation dashboard.

1. Click **Review Pending** Changes.

1. Ensure the Boomi tile has been selected.

1. Click **Apply Changes** to complete the installation of the Boomi Data Services for VMware Tanzu tile.

##<a id="configure"></a> Configure Tile Properties

To configure tile properties, do the following:

<ol>
   <li>In Ops Manager, click on the Boomi Data Services for VMware Tanzu tile
       and work through the panes listed on the left side of the page.

      <br/><img src="img/om-sections.png" alt="settings panes for Boomi Data Services"  width="300">
  </li>
  <li> As you complete a section, save it.
    A green check mark appears next to the pane name.
    Each pane name must show this green check mark before you can complete your installation.
  </li>
  <li>Review the instructions below for a detailed explanation of each pane.</li>
</ol>
  - [Assign AZs and Networks](#azs)
  - [Account Setup](#account-setup)
  - [Molecule Environment](#molecule-environment)
  - [Errands](#configure-errands)
  - [Resource Config](#configure-resource-config)


##<a id="azs"></a> Assign AZs and Networks

To select AZs and networks for VMs used by Boomi Data Services for VMware Tanzu,
do the following:

<ol>
  <li>Click <strong>Assign AZs and Networks</strong>

  <li>Configure the fields on the <strong>Assign AZs and Networks</strong> pane as follows:
   <table>
     <thead><tr>
       <th>Field</th>
       <th>Instructions</th>
     </tr></thead>
     <tbody>
       <tr>
         <th>Place singleton jobs in</th>
         <td>Select the region that you want for singleton VMs.</td>
       </tr>
       <tr>
         <th>Balance other jobs in</th>
         <td>Select the AZ(s) you want to use for distributing other VMs. Dell Boomi recommends selecting all of them.</td>
       </tr>
       <tr>
         <th>Network</th>
         <td>Select your VMware Tanzu Application Service (TAS) network.</td>
       </tr>
     <tbody>
   </table>
  </li>

  <li>Click <strong>Save</strong>.</li>
</ol>


##<a id="service-broker-setup"></a> Account Setup

The Boomi Data Services Service Broker talks to AtomSphere to deploy integration packs onto virtual
Atoms, inside of the context of a sub-account.
<ol>
  <li> Click on **Account Setup**.</li>
  <li> Configure fields in <strong> Account Setup </strong> as follows.
    <br/>

  <table>
    <thead>
      <tr>
        <th> Field </th>
        <th> Instructions </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Boomi AtomSphere Account Username</th>
        <td> Text field allows you to enter the Dell Boomi Platform username of a service account to use for this
  deployment.  Dell Boomi recommends utilizing a service account, as opposed to a named account, for audit purposes.
       </td>
      </tr>
      <tr>
        <th>Boomi AtomSphere Account Password</th>
        <td>Fields allows you to specify the password for the Dell Boomi Platform service account.
        </td>
     </tr>
     <tr>
       <th>Master Account ID</th>
       <td> Text field allows you to supply the Account ID of your primary Dell Boomi Platform account.
  You can find this information in the Dell Boomi AtomSphere web interface, under the account menu in the top
  navigation bar.</td>
    </tr>
      <tr>
        <th>Boomi AtomSphere Sub-Accounts</th>
        <td>
          Explicitly set the list of sub-accounts as a comma-delimited list (sub-account1, sub-account2...).
        </td>
     </tr>
     <tr>
        <th>Catalog Refresh Interval</th>
        <td>How often (in minutes) to refresh the VMware Tanzu service catalog information from the Boomi AtomSphere API. 
            Note: Setting too low of a value may exhaust AtomSphere API usage allowance for your account.
        </td>
     </tr>
   </tbody>
  </table>
  <li>
    If needed, you can review your account information in the Boomi Cloud interface.
    <img src="img/platform-topnav-account.png" />
    <br/>
    Click the <strong>Search</strong> button in the account switching dialog to list all of your accounts and sub-accounts.
    <br/>
    <img src="img/platform-switch-account.png" />
    <br/>
</li>
  <li> Click <strong>Save</strong>.</li>
</ol>
##<a id="molecule-environment"></a> Configure the Molecule Environment
This pane allows you to configure the Boomi Molecules that will be deployed for your data service deployments.

<ol>
  <li> Click on <strong>Molecule Environment</strong>.</li>
  <li> Configure fields in <strong> Molecule Environment</strong> as follows:
    <table>
      <thead>
        <tr>
          <th> Field </th>
          <th> Instructions </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th> Environment Name  </th>
          <td> Text field allows you to provide the name of the Primary Environment.</td>
        </tr>
        <tr>
          <th> Environment Type  </th>
          <td> The type of this environment, for Boomi license purposes.</td>
        </tr>
        <tr>
          <th> Cloud Name </th>
          <td> Text field allows you to specify the name of the Atom Cloud to associate
          the deployed Atom instance to.  This Cloud must have already been created in AtomSphere.
          </td>
        </tr>
        <tr>
           <th> Atom Name Prefix </th>
           <td> Text field allows you to specify a prefix for naming the Atom deployed
           for the primary environment.  This prefix allows you to differentiate installations
           from one another, in Atom Management within the AtomSphere web interface.</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li> Click <strong>Save</strong>.</li>
</ol>
