---
title: Installing and Configuring Boomi Data Services for PCF
owner: Partners
---


This topic describes how to install and configure Boomi Data Services for PCF.

##<a id="reqs-account"></a> Requirements: A Boomi AtomSphere Platform Account

You will need a Boomi AtomSphere Platform account, with at least one subaccount, and the
ability to publish Integration Packs from the main account to these subaccounts.

##<a id="reqs-cloud"></a> Requirements: An Atom Cloud

Before you can configure Boomi Data Services for PCF, you will need to create a
Cloud using the Boomi AtomSphere web interface.  To do so, navigate to the **Manage** &raquo;
**Cloud Management** interface:

<img src="img/boomi-cloud-management.png">

Clicking the **+** icon in the left-hand sidebar will bring you a form for creating your
new AtomSphere Cloud:

<img src="img/boomi-create-atom-cloud.png">

Ensure that:

- **Allow Deployments** checkbox is checked.
- **Max. Atom Attachments per Account** is set to **-1**.
- **Classification** is set to **Production**.

Make a note of the Cloud Name that you chose for your new cloud, as Tile Configuration
requires that piece of information.

You will need to repeat this process for every additional (auxiliary) Atom or Molecule
environment that you wish to configure and deploy.



##<a id="install"></a> Download and install Boomi Data Services for PCF

To install the Boomi Data Services for PCF tile on the Ops Manager Installation Dashboard, do the following:

1. Download the product file from Pivotal Network.

1. Click **Import a Product** to import the tile into Ops Manager.

1. Click the + symbol next to the uploaded product description.

1. Click on the Boomi Data Services for PCF tile.

1. Complete all the configuration steps in the <a href="#configure-tile">Configure Tile Properties</a> section below.

1. Return to the Ops Manager Installation Dashboard. Optionally, if you are using Ops Manager v2.3 or later, click
   **Review Pending** Changes (see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html)).

1. Click **Apply Changes** to complete the installation of the Boomi Data Services for PCF tile.

##<a id="configure"></a> Configure Tile Properties

<ol>
   <li>In Ops Manager, click on the Boomi Data Services for PCF tile
       and work through the the sections listed on the left side of the page.

      <br/><img src="img/om-sections.png">
  </li>
  <li> As you complete a section, save it.
    A green check mark appears next to the section name.
    Each section name must show this green check mark before you can complete your installation.
  </li>
  <li>Review the instructions below for a detailed explanation of each section  </li>
</ol>

- [Assign AZs and Networks](#azs)
- [Account Setup](#account-setup)
- [Molecule Environment](#molecule-environment)
- [Errands](#configure-errands)
- [Resource Config](#configure-resource-config)


##<a id="azs"></a> Assign AZs and Networks

To select AZs and networks for VMs used by Boomi Data Services for PCF, do the following:

<ol>
  <li>Click <strong>Assign AZs and Networks</strong>

  <li>Configure the fields on the <strong>Assign AZs and Networks</strong> pane as follows:
   <table>
     <thead><tr>
       <th>Field</th>
       <th>Instructions</th>
     </tr></thead>
     <tbody>
       <tr>
         <th>Place singleton jobs in</th>
         <td>Select the region that you want for singleton VMs.</td>
       </tr>
       <tr>
         <th>Balance other jobs in</th>
         <td>Select the AZ(s) you want to use for distributing other VMs. Dell Boomi recommends selecting all of them.</td>
       </tr>
       <tr>
         <th>Network</th>
         <td>Select your PAS (or Elastic Runtime) network.</td>
       </tr>
     <tbody>
   </table>
  </li>

  <li>Click <strong>Save</strong>.</li>
</ol>


##<a id="service-broker-setup"></a> Account Setup

The Boomi Data Services Service Broker talks to AtomSphere to deploy integration packs onto virtual
atoms, inside of the context of a sub-account.
<ol>
  <li> Click on Account Setup </li>
  <li> Configure fields in <strong> Account Setup </strong> as follows
    <br/>

  <table>
    <thead>
      <tr>
        <th> Field </th>
        <th> Instructions </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>  Username </th>
        <td> Text field allows you to enter the Dell Boomi Platform username of a service account to use for this
  deployment.  Dell Boomi recommends utilizing a service account, as opposed to a named account, for audit purposes.
  This field is **required**.
       </td>
      </tr>
      <tr>
        <th>Password</th>
        <td>Fields allows you to specify the password for the Dell Boomi Platform service account.
  This field is **required
        </td>
     </tr>
     <tr>
       <th>Master Account ID</th>
       <td> Text field allows you to supply the Account ID of your primary Dell Boomi Platform account.
  You can find this information in the Dell Boomi AtomSphere web interface, under the account menu in the top
  navigation bar.</td>
    </tr>
      <tr>
        <th>Skip Sub Account List</th>
        <td>
          If you do not want to expose a sub-account, or set of sub-accounts, via the service broker,
          you can explicitly skip them by adding their names to the Skipped Sub-Account List.
        </td>
     </tr>
   </tbody>
  </table>
  <li>
    If needed You can review your account information in the Boomi Cloud interface
    <img src="img/platform-topnav-account.png" />
    <br/>
    Clicking the <strong>Search</strong> button in the account switching dialog will list all of your accounts and sub-accounts.
    <br/>
    <img src="img/platform-switch-account.png" />
    <br/>If you do not want to expose a sub-account, or set of sub-accounts, via the service broker, you can explicitly skip
  them by adding their names here (comma separated).
</li>
  <li> Click <strong>Save</strong> </li>
</ol>
##<a id="molecule-environment"></a> Configure the Molecule Environment
This section allows you to configure the Boomi Molecules that will be deployed for your data service deployments.

<ol>
  <li> Click on <strong>Molecule Environment</strong> </li>
  <li> Configure fields in <strong> Molecule Environment</strong> as follows
    <table>
      <thead>
        <tr>
          <th> Field </th>
          <th> Instructions </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th> Environment </th>
          <td> Text field allows you to provide the name of the Primary Environment.</td>
        </tr>
        <tr>
          <th> Cloud Name </th>
          <td> Text field allows you to specify the name of the Atom Cloud to associate
          the deployed Atom instance to.  This Cloud must have already been created in AtomSphere.
          </td>
        </tr>
        <tr>
           <th> Atom Name Prefix </th>
           <td> Text field allows you to specify a prefix for naming the atom deployed
           for the primary environment.  This prefix allows you to differentiate installations
           from one another, in Atom Management in withinthe AtomSphere web interface.</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li> Click <strong>Save</strong> </li>
</ol>
##<a id="configure-errands"></a> Configure the Errands
These are errands that can save you pre- and post-deploy configuration
<ol>
  <li> Click on <strong>Errands</strong> </li>
  <li> Configure <strong>Errands</strong> as follows
    <table>
      <thead>
        <tr>
          <th> Field </th>
          <th> Instructions </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Post Deploy Errands</th>
          <td>Choose <strong>Off</strong> or <strong>On</strong>. Defaults to On. On will Enumerate and register all sub-account-specific service brokers with the deployed Pivotal Application Service (PAS).</td>
        </tr>
        <tr>
          <th>Pre-Delete Errands</th>
          <td>Choose <strong>Off</strong> or <strong>On</strong>. Defaults to On. On Unregisters all sub-account-specific service brokers with the deployed Pivotal Application Service (PAS).</td>
        </tr>
      </tbody>
    </table>
   </li>
  <li> Click <strong>Save</strong> </li>
</ol>
##<a id="configure-resource-config"></a> Configure Resource Config
This section contains sane defaults for the Job nodes configured and deployed with this tile
<ol>
  <li> Click on <strong> Configure Resource Config</strong> </li>
  <li> Review the defaults, in general you shouldn't need to change these, but in the case of scaling issues these can be reviewed and adjusted</li>
</ol>
