---
title: Release Notes for Boomi Data Services for PCF
owner: Partners
---

Release notes for Boomi Data Services for Pivotal Cloud Foundry (PCF).

##<a id="v0.11.5"></a> v0.11.5

**Release Date:** August 9, 2019

*External NFS/NAS - operators who wish to use their own NFS/NAS servers
  to host the Boomi Molecule installation can now do so, by specifying their
  _storage mode_ as `external`, and providing the details for reaching the
  NFS/NAS endpoint (host/ip and volume path)

*Automounting of NFS Data Volumes - operators can now specify a set of
  data volume mountpoints that will be handled via the Linux automounter.
  This allows processes deployed to the cluster to reference datasets from
  outside the cluster, without introducing any undue dependencies on
  third-party NFS/NAS/storage devices.

*Graceful Decommissioning - when `molecule` pods are terminated, they
  now initiate a graceful decommissioning shutdown of the molecule, properly
  ejecting it from the cluster and avoiding head node leader election
  problems.

*PCF Registration is now baked in, but optional.  By default, your
  Boomi Data Services Broker will be registered with the gorouter (and
  advertise appropriate routes), and made available in the PCF services
  marketplace.  This can be disabled for sites that want to control how this
  registration and route mapping takes place.

##<a id="v0.10.1"></a> v0.10.1

**Release Date:** March 28, 2019

* The per-service instance web UI for setting environment extensions has a better user experience, and better visuals.
* All proxied backend service endpoints are run over TLS now, instead of plain HTTP, for increased security and data privacy.
* Error messaging in backend server logs was cleaned up to be more useful to Dell Boomi support staff

##<a id="v0.9.11"></a> v0.9.11

**Release Date:** January 28, 2019

* Bug Fixes. 
* Extension configuration web UI successfully handles encrypted fields.
* Binding information includes unique credentials for Extension web UI.
* Changes to tile configuration parameters: 
   * Sub-account list includes comma-delimited sub-account list (previously excluded).
   * Requred field to set Boomi sub-accountenvironment type (PRODUCTION or TEST).

##<a id="v0.9.0"></a> v0.9.0

**Release Date:** November 7, 2018

* Initial beta release of Boomi Data Services for PCF
