---
title: Requirements
owner: Partners
---
Boomi Data Services for PCF requires the following:

##<a id="reqs-account"></a> Requirements: A Boomi AtomSphere Platform Account

You will need a Boomi AtomSphere Platform account, with at least one subaccount, and the
ability to publish Integration Packs from the main account to these subaccounts.

##<a id="reqs-cloud"></a> Requirements: An Atom Cloud

Before you can configure Boomi Data Services for PCF, you will need to create a
Cloud using the Boomi AtomSphere web interface.  To do so, navigate to the **Manage** &raquo;
**Cloud Management** interface:

![IMG](/fixme)

Clicking the **+** icon in the left-hand sidebar will bring you a form for creating your
new AtomSphere Cloud:

![IMG](/fixme)

Ensure that:

- **Allow Deployments** checkbox is checked.
- **Max. Atom Attachments per Account** is set to **-1**.
- **Classification** is set to **Production**.

Make a note of the Cloud Name that you chose for your new cloud, as Tile Configuration
requires that piece of information.

You will need to repeat this process for every additional (auxiliary) Atom or Molecule
environment that you wish to configure and deploy.

